.arco-btn {
  border-radius: 4px;
}

.arco-btn-primary[type='button'] {
  color: var(--white-font-color);
  background-color: var(--brand-color);
}

.arco-btn-primary[type='button']:hover {
  background-color: var(--hover-brand-color);
}

.arco-btn-primary[type='button'].arco-btn-loading {
  background-color: var(--brand-color);
}

.arco-btn-secondary[type='button'] {
  color: var(--brand-color);
  background-color: var(--light-brand-color);
}

.arco-btn-secondary[type='button'].arco-btn-loading {
  color: var(--brand-color);
  background-color: var(--light-brand-color);
}

.arco-btn-secondary[type='button']:hover {
  color: var(--brand-color);
  background-color: var(--light-brand-color);
  border: 1px solid var(--brand-color);
}

.arco-btn-secondary.arco-btn-status-danger {
  color: var(--danger-color);
  background: var(--danger-bg-color);
}

.arco-btn-secondary.arco-btn-status-danger:hover {
  color: var(--danger-color);
  background-color: var(--danger-bg-hover-color);
  border-color: transparent;
}

.arco-btn-text[type='button'] {
  color: var(--brand-color);
}

.arco-btn-text[type='button']:hover {
  color: var(--brand-color);
  background-color: var(--th-bg-color);
  &.copy {
    color: var(--card-bg-color);
  }
}

.arco-btn-outline,
.arco-btn-outline[type='button'],
.arco-btn-outline[type='submit'] {
  color: var(--main-font-color);
  border: 1px solid var(--border-color);
}

.arco-btn-outline:hover,
.arco-btn-outline[type='button']:hover,
.arco-btn-outline[type='submit']:hover,
.arco-btn-outline.arco-btn-loading,
.arco-btn-outline[type='button'].arco-btn-loading {
  color: var(--brand-color);
  border-color: var(--brand-color);
}

.arco-btn-primary.arco-btn-disabled,
.arco-btn-primary[type='button'].arco-btn-disabled,
.arco-btn-primary[type='submit'].arco-btn-disabled {
  color: rgb(156 156 156);
  background-color: rgb(240 240 240);
}

.arco-btn-secondary.arco-btn-disabled,
.arco-btn-secondary[type='button'].arco-btn-disabled,
.arco-btn-secondary[type='submit'].arco-btn-disabled {
  color: rgb(156 156 156);
  background-color: rgb(240 240 240);
  border: 1px solid transparent;
}

.arco-btn-outline.arco-btn-disabled,
.arco-btn-outline[type='button'].arco-btn-disabled,
.arco-btn-outline[type='submit'].arco-btn-disabled {
  color: rgb(156 156 156);
  background-color: rgb(240 240 240);
  border: 1px solid transparent;
}

.arco-btn-text.query-time-button,
.arco-btn-text.query-time-button:hover {
  color: var(--small-font-color);
  background: var(--grey-bg-color);
  border: 1px solid transparent;
  padding: 0 10px;
}

.arco-btn-text.query-time-button:focus-within {
  background: transparent;
  border: 1px solid var(--hover-brand-color);
}

.arco-btn-size-medium:not(.arco-btn-only-icon) .arco-btn-icon {
  margin-right: 10px;
}
