.result-tabs {
  .arco-card {
    padding: 0;

    .arco-card-header {
      height: 20px;
      margin-bottom: 8px;
      padding: 0;
    }
  }

  .arco-tabs-nav-type-rounded {
    .arco-tabs-tab-close-btn {
      margin-left: 5px;
      font-size: 14px;
    }

    .arco-tabs-tab {
      height: 40px;
      margin: 0;
      padding: 0 16px;
      color: var(--hover-font-color);
      font-size: 18px;
      background-color: transparent;
      border: 0;
      border-radius: 10px 10px 0 0;
    }

    .arco-tabs-tab-active {
      color: var(--brand-color);
      font-weight: 500;
      background-color: var(--card-bg-color);
    }

    .arco-tabs-tab::before {
      position: absolute;
      right: -30.5px;
      bottom: 12.5px;
      z-index: 2;
      display: inline-block;
      width: 30px;
      height: 26px;
      background: transparent;
      border-bottom-left-radius: 12px 12px;
      content: '';
    }

    .arco-tabs-tab:hover {
      background-color: var(--hover-bg-color);
    }

    .arco-tabs-tab-active:hover {
      color: var(--brand-color);
      background-color: var(--card-bg-color);
    }
  }

  .arco-tabs-content {
    padding-top: 0;

    .arco-tabs-content-item {
      padding: 24px 16px;
      background-color: var(--card-bg-color);
      border-radius: 10px;
    }

    .arco-tabs-content-item:first-of-type {
      border-top-left-radius: 0;
    }
  }
}

.arco-table-border .arco-table-container {
  border: 1px solid var(--light-border-color) !important;
  border-radius: 8px;
}

.arco-table {
  border: 0;

  .arco-table-tr:last-of-type {
    .arco-table-td {
      border-radius: 0 0 8px 8px;
    }
  }

  .arco-table-cell {
    padding: 8px 15px;
  }

  .arco-table-tr .arco-table-th {
    color: var(--main-font-color);
    font-weight: 500;
    font-size: 14px;
    background: var(--th-bg-color);
    border-bottom: 1px solid transparent;
    border-radius: 6px 6px 0 0;
  }

  .arco-table-td {
    font-size: 14px;
    border-top: 1px solid var(--light-border-color);
    border-bottom: 0;
  }

  .arco-table-td-content {
    color: var(--main-font-color);
    opacity: 0.8;
  }
}

.arco-table-hover:not(.arco-table-dragging)
  .arco-table-tr:not(.arco-table-tr-empty, .arco-table-tr-summary):hover
  .arco-table-td:not(.arco-table-col-fixed-left, .arco-table-col-fixed-right) {
  background-color: var(--light-brand-color) !important;
}

.chart-form {
  align-items: center;

  .arco-select-view-single {
    width: 180px !important;
  }
}

.arco-table-pagination {
  margin: 8px 0;

  .arco-pagination-item {
    min-width: 22px;
    height: 22px;
    padding: 0;
    color: var(--font-color-40);
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    border-radius: 4px;
  }

  .arco-pagination-item:hover {
    background-color: var(--th-bg-color);
  }

  .arco-pagination-item-active,
  .arco-pagination-item-active:hover {
    color: var(--brand-color);
    background: var(--light-brand-color);
  }

  .arco-pagination-item:not(:last-child) {
    margin-right: 6px;
  }

  .arco-pagination-item-previous:not(.arco-pagination-item-disabled):hover,
  .arco-pagination-item-next:not(.arco-pagination-item-disabled):hover {
    color: var(--brand-color);
  }

  .arco-pagination-options {
    .arco-select-view-single {
      width: 86px !important;
      padding-right: 8px;
      padding-left: 8px;
    }

    .arco-select-view-value {
      padding-right: 2px;
    }

    .arco-select-view-single.arco-select-view-size-medium .arco-select-view-value {
      min-height: 12px;
      padding: 0;
      font-size: 13px;
      line-height: 22px;
    }

    .arco-select-view-suffix {
      padding-left: 0;
    }

    .arco-select-view-icon svg {
      color: var(--main-font-color);
      font-size: 10px;
      opacity: 0.4;
    }
  }
}

.arco-pagination {
  font-size: 12px !important;
}

.select-y {
  margin-right: 8px !important;
}

.chart-area {
  margin-top: 10px;
}

.arco-form-layout-inline .arco-form-item {
  margin-right: 24px;
  margin-bottom: 0;
}

.arco-form-item-label-col > .arco-form-item-label {
  color: var(--main-font-color);
  font-size: 14px;
  opacity: 0.6;
}

.arco-form-item-content {
  height: 32px;
}

.arco-tag {
  font-weight: 400;
  font-size: 11px !important;
}
