.result-tabs {
  .arco-tabs-nav-type-rounded {
    .arco-tabs-tab {
      height: 32px;
      margin: 0 8px 0 0;
      padding: 0 15px;
      color: var(--font-color-40);
      font-weight: 500;
      font-size: 14px;
      background-color: var(--card-bg-color);
      border-radius: 6px;
    }

    .arco-tabs-tab-active {
      color: var(--brand-color);
    }

    .arco-tabs-tab:hover {
      background-color: var(--light-brand-color);
    }
  }

  .arco-tabs-content {
    padding-top: 14px;
  }
}

.arco-table {
  .arco-table-tr {
    height: 38px;
    box-shadow: 0 1px 1px 0 rgba(23, 12, 44, 0.1);
  }

  .arco-table-cell {
    padding: 11px 15px;
  }

  .arco-table-th {
    color: var(--main-font-color);
    font-weight: 500;
    font-size: 14px;
    background: var(--th-bg-color);
    border-bottom: 1px solid var(--font-color-7);
  }

  .arco-table-td {
    font-size: 14px;
    border-bottom: 1px solid var(--font-color-7);
  }

  .arco-table-td-content {
    color: var(--main-font-color);
    opacity: 0.8;
  }
}

.arco-table-hover:not(.arco-table-dragging)
  .arco-table-tr:not(.arco-table-tr-empty, .arco-table-tr-summary):hover
  .arco-table-td:not(.arco-table-col-fixed-left, .arco-table-col-fixed-right) {
  background-color: var(--light-brand-color) !important;
}

.chart-form {
  align-items: center;
  margin-left: 15px;

  .arco-select-view-single {
    width: 180px !important;
  }
}

.arco-table-pagination {
  margin: 20px 15px 17px 0;

  .arco-pagination-item {
    min-width: 20px;
    height: 20px;
    padding: 0;
    font-size: 12px;
    line-height: 20px;
    opacity: 0.4;
  }

  .arco-pagination-item-active,
  .arco-pagination-item-active:hover {
    margin-right: 4px !important;
    color: var(--main-font-color);
    line-height: 20px;
    background: var(--light-brand-color);
    border-radius: 2px;
    opacity: 1;
  }

  .arco-pagination-item:not(:last-child) {
    margin-right: 4px;
  }

  .arco-select-view-single:hover {
    background-color: var(--grey-bg-color);
  }

  .arco-pagination-options {
    .arco-select-view-single {
      width: 86px !important;
      height: 20px;
      padding-right: 8px;
      padding-left: 8px;
    }

    .arco-select-view-value {
      padding-right: 2px;
    }

    .arco-select-view-single.arco-select-view-size-medium .arco-select-view-value {
      min-height: 12px;
      padding-top: 0;
      padding-bottom: 0;
      font-size: 12px;
      line-height: 12px;
      opacity: 0.4;
    }

    .arco-select-view-suffix {
      padding-left: 0;
    }

    .arco-select-view-icon svg {
      color: var(--main-font-color);
      font-size: 10px;
      opacity: 0.4;
    }
  }
}

.arco-pagination {
  font-size: 12px !important;
}

.select-y {
  margin-right: 8px !important;
}

.draw-button {
  width: 61px;
  height: 32px !important;
  border-radius: 2px !important;
}

.chart-area {
  margin-top: 10px;
}

.arco-form-layout-inline .arco-form-item {
  margin-right: 24px;
  margin-bottom: 0;
}

.arco-form-item-label-col > .arco-form-item-label {
  color: var(--main-font-color);
  font-size: 14px;
  opacity: 0.6;
}

.arco-form-item-content {
  height: 32px;
}

.arco-tag {
  font-weight: 400;
  font-size: 11px !important;
}
