.ͼo {
  background: var(--main-font-color);

  .cm-gutters {
    color: #fdfcff;
    background-color: transparent;
    border-right: 1px solid var(--hover-bg-color);
    opacity: 0.61;
  }

  .cm-activeLine {
    background-color: var(--editor-active-line-color);
  }
}

.ͼ1 .cm-line {
  padding: 0 8px;
}

.ͼ1.cm-editor {
  padding: 8px 0;
  border-radius: 6px;
}

.ͼ1.cm-editor.cm-focused {
  outline: 0;
}

.editor-card {
  padding: 16px;
}

.button-space {
  padding-bottom: 16px;
}

.form-space {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}
