.ͼo {
  background: var(--main-font-color);
  .cm-gutters {
    background-color: transparent;
    color: #fdfcff;
    opacity: 61%;
    border-right: 1px solid var(--hover-bg-color);
  }
}
.ͼ1.cm-editor {
  border-radius: 6px;
  padding: 8px 0;
}
.ͼ1.cm-editor.cm-focused {
  outline: 0;
}
.editor-card {
  margin-left: 14px;
  padding: 10px 15px;
  height: 296px;
}
.button-space {
  padding-bottom: 8px;
}
