.guide-modal {
  .arco-modal {
    width: 384px;

    .arco-modal-header {
      height: 74px;
      padding-right: 0;
    }

    .arco-modal-header .arco-modal-title {
      justify-content: space-between;
      font-weight: 800;
    }

    .arco-modal-body {
      padding: 0 20px;
    }

    .arco-modal-footer {
      padding: 20px 20px 30px;

      .arco-btn {
        width: 100%;
        height: 44px;
      }

      > .arco-btn:not(:nth-child(1)) {
        margin-top: 10px;
        margin-left: 0;
      }
    }
  }

  .guide-banner {
    width: 164px;
    height: 74px;
  }

  .arco-form-item {
    margin-bottom: 10px;
  }

  .arco-form-item-content {
    height: 44px;
  }

  .arco-input-wrapper {
    height: 100%;
    background-color: transparent;
    border: 1px solid var(--border-color);
  }

  .arco-input-wrapper:hover {
    background: transparent;
  }

  .arco-form-item-layout-vertical > .arco-form-item-label-col {
    margin-bottom: 5px;
    padding: 0;
  }

  .arco-form-item-label-col > .arco-form-item-label {
    height: 20px;
  }

  .arco-select-view-size-medium {
    height: 100%;
    background: transparent !important;
    border: 1px solid var(--border-color);
    border-radius: 6px;
  }
}

.change-modal {
  .arco-modal {
    .arco-modal-header {
      height: 36px;
    }

    .arco-modal-body {
      padding: 12px 20px;
      font-size: 16px;
      line-height: 28px;
    }

    .arco-modal-footer {
      > .arco-btn {
        width: 74px;
      }
    }
  }
}

.drawer-icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.arco-drawer-mask {
  background-color: transparent;
}

.prom-form {
  .arco-form-item-layout-inline {
    margin-right: 0;
    margin-bottom: 0;
  }

  .arco-form-layout-inline {
    .arco-form-item {
      margin-bottom: 0;
    }
  }

  .arco-input-wrapper .arco-input-clear-btn {
    padding-right: 4px;
  }

  .arco-select-view-single {
    width: 180px !important;
  }

  .arco-picker input {
    width: 150px;
  }

  .arco-picker-has-prefix {
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 6px;
  }

  .arco-picker-suffix {
    width: 9px;
  }

  .arco-picker-suffix-icon {
    display: none;
  }

  .time-switch {
    .arco-form-item-label-col {
      padding-right: 12px;
    }

    .arco-switch-handle {
      top: 3px;
      width: 14px;
      height: 14px;
    }

    .arco-switch {
      height: 20px;
      background-color: var(--switch-unchecked-color);
    }

    .arco-switch-checked {
      background-color: var(--brand-color);

      .arco-switch-handle {
        left: calc(100% - 14px - 4px);
      }
    }
  }

  .arco-input-wrapper .arco-input.arco-input-size-medium {
    padding-left: 12px;
  }

  .arco-input-wrapper .arco-input-prefix {
    border-right: 1px solid var(--border-color);
    font-size: 13px;
  }
}

.arco-picker-range-container {
  border-radius: 8px;

  .arco-timepicker-cell-selected .arco-timepicker-cell-inner {
    background: var(--grey-bg-color);
  }

  .arco-panel-date-with-view-tabs .arco-panel-date-timepicker .arco-timepicker-cell-inner {
    border-radius: 4px;
  }

  .arco-timepicker-cell:not(.arco-timepicker-cell-selected, .arco-timepicker-cell-disabled):hover
    .arco-timepicker-cell-inner {
    background-color: var(--grey-bg-color);
  }
}

.arco-input-wrapper .arco-input.arco-input-size-medium {
  font-size: 13px;
  color: var(--small-font-color);
}

.arco-picker {
  border-radius: 4px;
  background: var(--grey-bg-color);
  .arco-picker-prefix {
    display: flex;
  }
}

.arco-picker-focused,
.arco-picker-focused:hover {
  background-color: inherit;
  border-color: var(--hover-brand-color);

  .arco-picker-input-active input {
    background: inherit;
  }
}

.arco-picker-cell-in-range .arco-picker-date {
  background-color: var(--light-brand-color);
}

.arco-picker-cell-range-start .arco-picker-date-value,
.arco-picker-cell-range-end .arco-picker-date-value,
.arco-picker-cell-selected .arco-picker-date-value,
.arco-picker-cell-today::after {
  background-color: var(--brand-color);
}
