.guide-modal {
  .arco-modal {
    .arco-modal-header {
      height: 74px;
      padding-right: 0;
    }

    .arco-modal-header .arco-modal-title {
      justify-content: space-between;
      font-weight: 800;
    }

    .arco-modal-body {
      padding: 0 20px;
    }

    .arco-modal-footer {
      padding: 20px 20px 30px;
    }
  }

  .guide-banner {
    width: 164px;
    height: 74px;
  }

  .arco-form-item {
    margin-bottom: 10px;
  }

  .arco-form-item-content {
    height: 44px;
  }

  .arco-input-wrapper {
    height: 100%;
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: 6px;
  }

  .arco-input-wrapper:hover {
    background: transparent;
  }

  .arco-form-item-layout-vertical > .arco-form-item-label-col {
    margin-bottom: 5px;
    padding: 0;
  }

  .arco-form-item-label-col > .arco-form-item-label {
    height: 20px;
  }

  .arco-select-view-size-medium {
    height: 100%;
    background: transparent !important;
    border: 1px solid var(--border-color);
    border-radius: 6px;
  }
}

.change-modal {
  .arco-modal {
    .arco-modal-header {
      height: 30px;
    }

    .arco-modal-body {
      line-height: 28px;
    }
  }
}

.arco-drawer {
  height: calc(100% - 52px);
  margin-top: 52px;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 4px 10px 0 var(--border-color);

  .arco-drawer-header {
    height: 58px;
    padding: 0 20px;
    border-bottom: 0;

    .arco-drawer-title {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 18px;
    }
  }

  .arco-drawer-body {
    padding: 8px 20px;
  }
}

.drawer-icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.arco-drawer-mask {
  background-color: transparent;
}

.prom-form {
  .arco-form-item-layout-inline {
    margin-right: 0;
  }

  .arco-form-layout-inline {
    .arco-form-item {
      margin-bottom: 0;
    }
  }
}
