.layout {
  height: 100%;
  padding: 30px 20px;

  .arco-layout-sider-light {
    width: 295px !important;
    background: transparent;
    box-shadow: none;
  }

  .arco-layout-content {
    padding-left: 16px;
  }
}
