.arco-list-small .arco-list-content-wrapper {
  .arco-list-content > .arco-list-item {
    padding: 2px 0;
  }

  .arco-list-header {
    padding: 0;
    color: var(--small-font-color);
    font-size: 14px;
  }
}

.arco-list {
  color: var(--small-font-color);
  font-size: 12px;
}

.code {
  padding: 3px 6px;
  color: var(--color-code);
  background: var(--color-code-bg);
  border-radius: 4px;
}
