.log-error {
  height: 100%;
  padding: 0 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: var(--danger-bg-color);
  border-radius: 4px;
}

.last-overflow {
  .arco-space-item:last-of-type {
    overflow: hidden;

    > div {
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.log-space {
  padding-left: 16px;

  .code-space {
    margin-left: 18px;
  }
}

.logs-tab {
  .arco-tabs-tab-active {
    cursor: default;
  }

  .arco-tabs-nav-type-rounded .arco-tabs-tab {
    padding: 10px 24px;
  }

  .arco-list-content {
    display: flex;
    flex-direction: column-reverse;
  }

  .arco-list {
    border-radius: 8px;
  }

  .arco-list-item-main {
    height: 100%;
    overflow: hidden;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;

    .arco-list-item-content {
      height: 100%;
      line-height: 38px;
    }
  }

  .arco-list-item {
    align-items: center;
    height: 38px;
    padding: 0 !important;
  }

  .arco-list-item:nth-child(even) {
    background-color: inherit !important;
  }

  .arco-list-item:nth-child(odd) {
    background-color: var(--grey-bg-color);
  }

  .arco-divider-vertical {
    margin: 0 9px;
  }
}
