.arco-select-view-single {
  padding-right: 8px;
  padding-left: 8px;
  background: var(--grey-bg-color);
  border-radius: 6px;
}

.arco-select-view-single:hover {
  background-color: var(--grey-bg-color);
}

.arco-select-view-single:focus-within,
.arco-select-view-single.arco-select-view-focus {
  background-color: transparent;
  border-color: var(--hover-brand-color);
}

.arco-select-view-multiple {
  padding-right: 8px;
  padding-left: 8px;
  background: var(--grey-bg-color);
  border: 1px solid transparent;
  border-radius: 6px;

  .arco-select-view-inner .arco-select-view-tag {
    background: var(--grey-bg-color);
    border-color: transparent;
    border-radius: 6px;
  }
}

.arco-select-view-multiple:hover {
  background-color: var(--grey-bg-color);
}

.arco-select-view-multiple:focus-within,
.arco-select-view-multiple.arco-select-view-focus {
  background-color: transparent;
  border-color: var(--hover-brand-color);
}

.arco-select-view-size-medium {
  color: var(--small-font-color) !important;
}
