.tree-card {
  height: 100%;

  & > .arco-card-header {
    height: 42px !important;
    line-height: 42px !important;
  }

  .arco-scrollbar {
    height: calc(100vh - 220px);
  }
}

.tree-scrollbar {
  height: 100%;
  overflow: auto;
}

.table-tree {
  .tree-data {
    display: flex;
    align-items: center;
    width: calc(100% - 42px);
  }

  & > .arco-tree-node {
    padding: 2px 16px;
    line-height: 32px;
    cursor: auto;
  }

  & > .arco-tree-node:hover {
    background-color: var(--light-brand-color);
  }

  .arco-tree-node-switcher {
    width: 15px;
    margin-right: 0;
    font-size: 15px;
  }

  .arco-tree-node-is-leaf {
    .arco-tree-node-indent-block {
      width: 18px;
      margin-right: 0;
    }

    .arco-tree-node-switcher {
      width: 0;
    }
  }

  .arco-tree-node-title {
    margin-left: 0;
    padding: 0;
  }

  .arco-tree-node-custom-icon {
    margin-right: 4px;
  }
}

.data-type {
  padding-left: 3px;
  overflow: hidden;
  color: var(--brand-color);
  font-size: 12px;
  text-overflow: ellipsis;
}

.tree-title {
  padding-left: 3px;
  color: var(--main-font-color);
  font-size: 14px;
}

.copy-icon {
  position: absolute;
  right: 20px;
}

.sider-tabs {
  height: 100%;
  padding-top: 16px;
  background-color: var(--card-bg-color);
  border-radius: 10px;

  .arco-tabs-nav {
    height: 32px;
    padding: 0 16px;
  }

  .arco-tabs-nav-tab-list {
    width: 100%;
    background-color: var(--grey-bg-color);
    border-radius: 6px;
  }

  .arco-tabs-nav-tab {
    justify-content: center;
  }

  .arco-tabs-tab {
    justify-content: center;
    width: 50%;
    margin: 0;
    background-color: transparent;
    border-radius: 6px;
  }

  .arco-tabs-tab:hover {
    background-color: var(--font-color-7);
  }

  .arco-tabs-tab-active {
    color: var(--white-font-color);
    background-color: var(--brand-color);
  }

  .arco-tabs-tab-active:hover {
    background-color: var(--brand-color);
  }
}

.one-tab {
  .arco-tabs-tab {
    width: 100% !important;
  }
}

.script-tree {
  .arco-tree-node {
    padding-left: 0;
  }

  .arco-tree-node-title {
    margin-left: 0;
    padding: 7px 24px;
    white-space: pre;
  }

  .arco-tree-node-title:hover {
    background-color: var(--th-bg-color);
    border-radius: 0;
  }

  .arco-tree-node-selected .arco-tree-node-title,
  .arco-tree-node-selected .arco-tree-node-title:hover {
    color: var(--brand-color);
    background: var(--light-brand-color);
  }

  .arco-tree-node-switcher {
    display: none;
  }
}

.search-space {
  display: flex;
  justify-content: space-between;
  padding: 2px 16px;

  .arco-input-wrapper {
    width: 228px;
    height: 100%;
    padding-left: 8px;
  }

  .arco-space-item {
    height: 28px;
  }

  .icon-space {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
  }
}
