version: '3.9'
services:
  dashboard:
    platform: linux/amd64
    build:
      context: ..
      dockerfile: docker/Dockerfile
    image: greptime/greptimedb-dashboard:latest
    ports:
      - '8080:8080'
    environment:
      - GREPTIMEDB_HTTP_HOST=db
  db:
    image: 'greptime/greptimedb:latest'
    command: 'standalone start --http-addr=0.0.0.0:4000'
